@charset "gb2312";
/* CSS Document */
body{margin:0;padding:0;font-size:12px;line-height:22px;font-family:"ו","Arial Narrow";background:#ffffff url(../images/yw_bodybg.gif) repeat-x 0px 0px;}


/*flash start*/
#flash { width:980px; height:393px; overflow:hidden; margin:0 auto; clear:both; position:relative;/*--*/ padding:0px 10px;}
#flash a {width:980px; height:393px; display:none;}
#flash img {width:980px; height:393px;/* display:none;*/}
.flash_bar { width:520px; padding-left:470px; z-index:69; height:30px; overflow:hidden; position:absolute;padding-top:13px!important; padding-top:12px; bottom:0px; left:0px; background:url(yw_flashbar.png) no-repeat 10px 0px; text-align:center;}
.flash_bar .dq { display:block; float:left; width:8px; height:8px; margin:5px 5px; /* background: url(../images/tg_flash_p.png) no-repeat 0px 0px;*/ cursor:pointer;
background:url(yw_flash_p.png) no-repeat 0px 0px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="yw_flash_p.png" ,sizingMethod="crop"); }
.flash_bar .no { display:block; float:left; width:8px; height:8px; margin:5px 5px; /* background: url(../images/tg_flash_p.png) no-repeat 0px 0px;*/ cursor:pointer;
background:url(yw_flash_p2.png) no-repeat 0px 0px; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="yw_flash_p2.png" ,sizingMethod="crop"); }
#flashBg { height:393px; overflow:hidden; width:100%; clear:both; margin:0; padding:0;}
#flashLine {background:url(touming.png) repeat-x center bottom;height:393px; width:100%; clear:both;}

