ul,li {
	margin:0;
	padding:0;
	list-style:none;
}
#tabfirst li {
	float:left;
	background-color:#868686;
	color:white;
	padding:5px;
	margin-right:2px;
	border:1px solid white;
	cursor:pointer;
}
#tabfirst li.tabin {
	background-color:#6e6e6e;
	border:1px solid #6e6e6e;	
}
div.contentfirst {
	clear:both;
	background-color:#6e6e6e;
	color:white;
	width:300px;
	height:100px;
	padding:10px;
	display:none;
}
div.contentin {
	display:block;
}


#tabsecond li {
	float:left;
	background-color:white;
	color:blue;
	padding:5px;
	margin-right:2px;
	cursor:pointer;
}
#tabsecond li.tabin {
	border:1px solid #000;
	border-bottom:0;
	z-index:1000;
	position:relative;
	background-color:#f2f6f8;
	
}
#contentsecond {
	width:500px;
	height:300px;
	padding:10px;
	background-color:#f2f6f8;
	clear:both;
	border:1px solid #000;
	position:relative;
	top:-1px;
}
img {
	display:none;
}