<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for PetClinic on Hibernate.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    
    <task:executor id="executor" pool-size="5" />  
    <task:scheduler id="scheduler" pool-size="10" />  
    <task:annotation-driven executor="executor" scheduler="scheduler" />    
    <bean id="SendMail" class="cn.futures.data.importor.SendMail"></bean>
    <bean id="dayAnalyse" class="cn.futures.bricAnalyse.dayAnalyse"></bean>
    <bean id="MarketCrawler" class="cn.futures.data.importor.crawler.futuresMarket.MarketCrawler"></bean>
    <bean id="MarketCrawlerForeign" class="cn.futures.data.importor.crawler.futuresMarket.MarketCrawlerForeign"></bean>
    <bean id="WholesalePriceCrawler" class="cn.futures.data.importor.crawler.WholesalePriceCrawler"></bean>
    <bean id="WholesalePriceMonthlyCrawler" class="cn.futures.data.importor.crawler.WholesalePriceMonthlyCrawler"></bean>
    <bean id="DataOfFvFir" class="cn.futures.data.importor.crawler.DataOfFvFir"></bean>
    <bean id="ChicagoRiceFetch" class="cn.futures.data.importor.crawler.futuresMarket.ChicagoRiceFetch"></bean>
    <bean id="LondonSugarFetch" class="cn.futures.data.importor.crawler.futuresMarket.LondonSugarFetch"></bean>
    <bean id="RapeseedLastFetch" class="cn.futures.data.importor.crawler.RapeseedLastFetch"></bean>
    <bean id="CottonStockFetch" class="cn.futures.data.importor.crawler.CottonStockFetch"></bean>
    <bean id="BalticDryIndexFetch" class="cn.futures.data.importor.crawler.BalticDryIndexFetch"></bean>
    <bean id="CANInnerRapeseedPriceFetch" class="cn.futures.data.importor.crawler.CANInnerRapeseedPriceFetch"></bean>
    <bean id="CotlookAIndexFetch" class="cn.futures.data.importor.crawler.CotlookAIndexFetch"></bean>
    <bean id="CotlookYarnIndexFetch" class="cn.futures.data.importor.crawler.CotlookYarnIndexFetch"></bean>
    <bean id="CottonTextilePriceFetch" class="cn.futures.data.importor.crawler.CottonTextilePriceFetch"></bean>
    <bean id="MYPalmOilAltIndex" class="cn.futures.data.importor.crawler.MYPalmOilAltIndex"></bean>
    <bean id="MYPalmOilQuotFetch" class="cn.futures.data.importor.crawler.futuresMarket.MYPalmOilQuotFetch"></bean>
    <bean id="CAAAMeatPoultryPrice" class="cn.futures.data.importor.crawler.CAAAMeatPoultryPrice"></bean>
    <bean id="FarmProducePriceFetch" class="cn.futures.data.importor.crawler.FarmProducePriceFetch"></bean>
    <bean id="MOAAnimalFeedMarketPrice" class="cn.futures.data.importor.crawler.MOAAnimalFeedMarketPrice"></bean>
    <bean id="StatDepDatas" class="cn.futures.data.importor.crawler.StatDepDatas"></bean>
    <bean id="PigDataFetch" class="cn.futures.data.importor.crawler.PigDataFetch"></bean>
    <bean id="USDAOnlineData" class="cn.futures.data.importor.crawler.usdaCrawler.USDAOnlineData"></bean>
    <bean id="DCEDataFetch" class="cn.futures.data.importor.crawler.DCEDataFetch"></bean>
    <bean id="CZCEDataFetch" class="cn.futures.data.importor.crawler.CZCEDataFetch"></bean>
    <bean id="USDollarExgData" class="cn.futures.data.importor.crawler.USDollarExgData"></bean>
    <bean id="MOFCOMDataFetch" class="cn.futures.data.importor.crawler.MOFCOMDataFetch"></bean>
    <bean id="ChinaDataFetch" class="cn.futures.data.importor.crawler.ChinaDataFetch"></bean>
    <bean id="ChinaWeatherData" class="cn.futures.data.importor.crawler.weatherCrawler.ChinaWeatherData"></bean>
    <bean id="BOYARCNDataFetch" class="cn.futures.data.importor.crawler.BOYARCNDataFetch"></bean>
    <bean id="FeedTradeData" class="cn.futures.data.importor.crawler.FeedTradeData"></bean>
    <bean id="YMTDataFetch" class="cn.futures.data.importor.crawler.ymtCrawler.YMTDataFetch"></bean>
    <bean id="YMTSupplyDataFetch" class="cn.futures.data.importor.crawler.ymtCrawler.YMTSupplyDataFetch"></bean>
    <bean id="AgriImportsData" class="cn.futures.data.importor.crawler.AgriImportsData"></bean>
    <bean id="CFTCFuturesData" class="cn.futures.data.importor.crawler.futuresMarket.CFTCFuturesData"></bean>
	<bean id="YUMICOMFetch" class="cn.futures.data.importor.crawler.YUMICOMFetch"></bean>
	<bean id="CTEICNFetch" class="cn.futures.data.importor.crawler.CTEICNFetch"></bean>
	<bean id="MannUsdaData" class="cn.futures.data.importor.crawler.usdaCrawler.MannUsdaData"></bean>
	<bean id="DCEFuturesMarket" class="cn.futures.data.importor.crawler.futuresMarket.DCEFuturesMarket"></bean>
	<bean id="CZCEFuturesMarket" class="cn.futures.data.importor.crawler.futuresMarket.CZCEFuturesMarket"></bean>
	<bean id="SHFEFuturesMarket" class="cn.futures.data.importor.crawler.futuresMarket.SHFEFuturesMarket"></bean>
	<bean id="CustomsIOData" class="cn.futures.data.importor.crawler.CustomsIOData"></bean>
    <bean id="IndiaWeather" class="cn.futures.data.importor.crawler.weatherCrawler.IndiaWeather"></bean>
    <bean id="ProxyManagerUtil" class="cn.futures.data.util.ProxyManagerUtil"></bean>
    <bean id="ZipFileManager" class="cn.futures.data.util.ZipFileManager"></bean>
    <bean id="ThailandWeather" class="cn.futures.data.importor.crawler.weatherCrawler.ThailandWeather"></bean>
    <bean id="CMEDataFetch" class="cn.futures.data.importor.crawler.CMEDataFetch"></bean>
	<bean id="AmericanPoultryMeatAndEggs" class="cn.futures.data.importor.crawler.AmericanPoultryMeatAndEggs"></bean>
    <bean id="AmericanPoultryMeat" class="cn.futures.data.importor.crawler.AmericanPoultryMeat"></bean>
    <bean id="DuckEggsPrice" class="cn.futures.data.importor.crawler.DuckEggsPrice"></bean>
   	<bean id="WhiteSheepAndCowDataFetch" class="cn.futures.data.importor.crawler.WhiteSheepAndCowDataFetch"></bean>
    <bean id="ChinaPriceInfo" class="cn.futures.data.importor.crawler.ChinaPriceInfo"></bean>
    <bean id="GinderDayDataFetch" class="cn.futures.data.importor.crawler.GinderDayDataFetch"></bean>
    <bean id="GinderWeekDataFetch" class="cn.futures.data.importor.crawler.GinderWeekDataFetch"></bean>
    <bean id="GinderMonthDataFetch" class="cn.futures.data.importor.crawler.GinderMonthDataFetch"></bean>
   	<bean id="GarlicDayDataFetch" class="cn.futures.data.importor.crawler.GarlicDayDataFetch"></bean>
    <bean id="GarlicExportDataFetch" class="cn.futures.data.importor.crawler.GarlicExportDataFetch"></bean>
    <bean id="GarlicMonthDataFetch" class="cn.futures.data.importor.crawler.GarlicMonthDataFetch"></bean>
    <bean id="GarlicWeekDataFetch" class="cn.futures.data.importor.crawler.GarlicWeekDataFetch"></bean>
    <bean id="USDAFatsAndOils" class="cn.futures.data.importor.crawler.USDAFatsAndOils"></bean>
    <bean id="GlobalCommodityPricesMonth" class="cn.futures.data.importor.crawler.GlobalCommodityPricesMonth"></bean>
    <bean id="CornstarchPrice" class="cn.futures.data.importor.crawler.CornstarchPrice"></bean>
    <bean id="CornPurchasePrice" class="cn.futures.data.importor.crawler.CornPurchasePrice"></bean>
    <bean id="ShangShuiWeather" class="cn.futures.data.importor.crawler.weatherCrawler.ShangShuiWeather"></bean>
    <bean id="ChinajciDataFetch" class="cn.futures.data.importor.crawler.ChinajciDataFetch"></bean>
    <bean id="USBeansMargin" class="cn.futures.data.importor.crawler.USBeansMargin"></bean>
    <bean id="XinfadiMarketPrice" class="cn.futures.data.importor.crawler.marketPrice.XinfadiMarketPrice"></bean>
    <bean id="MofcomMarketPrice" class="cn.futures.data.importor.crawler.marketPrice.MofcomMarketPrice"></bean>
    <bean id="FatsAndOilsCountries" class="cn.futures.data.importor.crawler.FatsAndOilsCountries"></bean>
    <bean id="SinaIndex" class="cn.futures.data.importor.crawler.heatIndex.SinaIndex"></bean>
    <bean id="BaiduIndex" class="cn.futures.data.importor.crawler.heatIndex.BaiduIndex"></bean>
    <bean id="HeadLineIndex" class="cn.futures.data.importor.crawler.heatIndex.HeadLineIndex"></bean>
   
    <context:component-scan base-package="main.cn.futures"/>
    
    
</beans>