<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seckill.mapper.SeckillMapper">
	<!-- 根据id查询秒杀商品 -->
    <select id="queryById" parameterType="long"  resultType="Seckill">
      SELECT * from seckill
      WHERE seckill_id=#{seckillId}
    </select>
	<!-- 查询商品列表 -->
    <select id="queryAll" resultType="Seckill">
        SELECT * from seckill
        order by create_time desc
    </select>
	<!-- 调用存储过程减库存，插入秒杀成功记录 -->
	<select id="killByProcedure" statementType="CALLABLE">
        call execute_seckill(
        #{seckillId,jdbcType=BIGINT,mode=IN},
        #{phone,jdbcType=BIGINT,mode=IN},
        #{killTime,jdbcType=TIMESTAMP,mode=IN},
        #{result,jdbcType=INTEGER,mode=OUT}
        )
    </select>
</mapper>